:root {
  --main-color: #404040;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container {
  margin-top: 50px;
  display: block;
  text-align: center;
  color: var(--main-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.myName {
  font-size: 70px;
  margin: 0;
}

h1 {
  font-size: 45px;
}

.blueUkr {
  color: blue;
}

.yellowUkr {
  color: yellow;
}
.firstPageH2 {
  display: inline;
  box-shadow: var(--box-shadow);
  width: max-content;
  text-align: center;
  padding: 5px 10px;
  border-radius: 30px;
  font-weight: 600;
  opacity: 70%;
}

.buttoms {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 20px;
}

.linkProperties {
  padding: 15px 25px;
  border: 2px;
  border-radius: 15px;
  text-decoration: none;
  margin: 0 10px;
  box-shadow: var(--box-shadow);
  font-weight: 600;
  opacity: 85%;
}

.contact-link {
  color: rgb(243, 240, 240);
  background-color: blue;
}
.aboutMe-link {
  color: #2b2b2b;
  background-color: yellow;
}

.second-page-h2 {
  opacity: 80%;
  margin-top: 0;
}

.col {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.col div {
  width: 400px;
  margin: 20px 20px;
  padding: 15px;
  background-color: rgb(240, 240, 249);
  border-radius: 8px;
}

.footer-h2 {
  font-size: 50px;
  font-weight: bold;
}

.email-link {
  font-size: 20px;
  color: blue;
}

.navbar-light .navbar-brand {
  color: var(--main-color);
  font-weight: 600;
}
